body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    background: #eef1f7;
    height: 100vh;
    display: flex;
        align-items: center;
        justify-content: center;
}

.auth-card {
    width: 420px;
    background: white;
    border-radius: 14px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
    animation: fadeIn .4s ease;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-container{
    width: 380px;
       
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.auth-card input {
    width: 98%;
    padding: 12px;
    margin: 12px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.btn-primary {
    width: 100%;
    padding: 12px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

.btn-danger {
    padding: 10px 18px;
    border: none;
    background: #d93636;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.password-wrap {
    position: relative;
}

.toggle-eye {
    position: absolute;
    right: -4px;
    top: 24px;
    cursor: pointer;
    color: #666;
}

.switch-link {
    margin-top: 10px;
}

.dash-header {
    padding: 22px;
    background: #007bff;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dash-main {
    padding: 40px;
    text-align: center;
}

.dash-footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 50px;
}

.top-head{
    text-align: center;
    font-size: 30px;
}

